/* CSS DOCUMENT */
body {
    background-color: #232325
}
h1 {
    font-family: skolar-sans-latin, sans-serif;font-weight: 700;
    font-style: normal;
    color: rgb(255, 82, 61);
    font-size: 2.5em;
}
h2 {
    font-family: skolar-sans-latin, sans-serif;font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255)
}

h3 {
    font-family: skolar-sans-latin, sans-serif;font-weight: 400;
    font-style: normal;
    color: rgb(255, 82, 61)
}

p {
    font-family: skolar-sans-latin, sans-serif;font-weight: 400;
    font-style: italic;
    color: rgb(188, 188, 190)
}
li {
    font-family: skolar-sans-latin, sans-serif;font-weight: 400;
    font-style: normal;
    color: rgb(188, 188, 190)
}